
$background: white
$separator: #0003
$textcolor: #333

body 
    background: lighten($primary,44)

.q-page 
    max-width: 992px
    margin: 2em auto

.q-stepper
    background: none
    box-shadow: none

    h2
        font-size: 2.5em
        font-weight: bolder
        margin: 0

    .q-stepper__tab
        background: $background
        flex: 1

.card-wrapper 

    h3
        font-size: 1.5em
        margin-bottom: 8px
        margin-top: 28px
        padding-bottom: 0px
        line-height: 1.4em

    .row.no-wrap
        width: 100%
        overflow: auto
        padding: 1em
        margin: -1em

        .q-btn 
            margin-right: .8em
            transition: .2s 
            min-width: 10em
            background: $background

            span
                display: block
                margin-top: 2px

            i.fa
                font-size: 3em
                display: block
                margin-bottom: .4em
                color: $primary
                text-align: center

            h4
                margin: 0em
                font-size: 1em
                line-height: 1.5em
                text-align: center


.q-list 
    background: $background

    .q-item
        border-top: 1px solid $separator

.q-stepper__nav
    display: flex
    justify-content: space-between

.q-btn + .q-btn 
    margin-left: 1em